<!DOCTYPE html>
<html>
<head><%= favicon_link_tag 'favicon(4).ico' %>
  <title>Survey2016</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

  
<div id="hdr">
   <div class="container">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <b>Signed in as <%= current_user.email %>. Not you?</b> 
        
        <br/>
         
              <b><li><%= link_to 'Profile', edit_user_registration_path %></li>
              <b><li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              <b><li><%= link_to 'Home', root_path%></li>
            
          
        <% else %><br/><br/><br/>
          <li><b><%= link_to 'Sign In', new_user_session_path, {:style=>'color:black;', :class => "css_class"} %></font></b></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br/>
          <li><b><%= link_to 'Sign Up', new_user_registration_path ,{:style=>'color:black;', :class => "css_class"}%></b></li><br/><br/>
        <% end %>
      </div>
      </ul>
  </div>
</nav>
  <div class="container">
<%= yield %>
</div><!--container-->
</div>
</div>
</body>
</div>
</html>
